#root {
  width: 100%;
  text-align: center;
}

.control {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.control-bt {
  margin-right: 1em;
}

.media {
  width: 100%;
  min-height: 100vh;
}

#video {
  width: 100%;
  height: auto;
}